body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  font-size: 50px;
  color: #4A4935;
  background-image:url("https://ak6.picdn.net/shutterstock/videos/4390160/thumb/1.jpg");
  background-size:cover;
}
